img.Green{
    filter: hue-rotate(-45deg);
}
img.Purple{
    filter: hue-rotate(60deg);
}
img.Blue{

}
img.Orange{
    filter: hue-rotate(175deg);
}
img.Black{
    filter: grayscale(100) brightness(0);
}